body{
    background: aliceblue;
    padding: 20px;
    padding-top: 40px;
}

/*PATTERNCOLORS:bg_color="#3b82f6" hover_bg_color="#4f65ff" font_color="white" //USERNOPHOTO: https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_user-256.png*/